[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://github.com/nchia-net/chia-blockchain-gui.git
	branch = net9.dev
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
