[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://gitee.com/ext9/ext9-gui.git
	branch = net9.dev
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://gitee.com/ext9/mozilla-ca.git
        branch = main
